
<div class="container " *ngIf='doctorFormGroup'>
  <form class="w-75 card my-4 p-3 m-auto" [formGroup]='doctorFormGroup'>
    <h3>Edit Doctor</h3>
    <div hidden class="form-group">
       <label>Id</label>
      <input type="text" class="form-control" formControlName="id">
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="nom"
               [ngClass]="{'is-invalid':doctorFormGroup.controls['nom'].errors}">
        <div *ngIf="doctorFormGroup.controls['nom'].errors" class="invalid-feedback">
          <div *ngIf="doctorFormGroup.controls['nom'].errors['required']">Name is Required</div>
        </div>
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Prenom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="preNom">
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Date Naissance</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" formControlName="dateNaissance">
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Num Tel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="numTel">
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Type Sexe</label>
      <!--<input type="text" class="form-control" formControlName="typeSexe">-->
      <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" value="Masculin" type="radio" formControlName="typeSexe" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1"checked >
          Masculin
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="Feminin" type="radio" formControlName="typeSexe"
               name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">Feminin</label>
      </div>
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group my-2 row">
      <label class="col-sm-2 col-form-label">Specialite</label>
      <div class="col-sm-10">
        <select class="form-select" formControlName="specialite">
          <option value="specialite1">specialite1</option>
          <option value="specialite2">specialite2</option>
          <option value="specialite3">specialite3</option>
        </select>
      </div>
    </div>
    <div class="form-group my-2 text-end">
      <button class="btn btn-success w-25" (click)="onUpdateDoctor()">Save</button>
    </div>
  </form>
</div>
