 <div class="container">
    <h3 class="">Appointment lists</h3>
    <ng-container *ngIf="rendezVous$ | async as result" [ngSwitch]="result.dataState" >
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        Loading .....
      </ng-container>

      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert alert-danger">
          {{ result.errorMessage }}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">

      <div class="table-responsive custom-table-responsive">

      <table class="table custom-table">
        <thead>
        <tr>

          <th scope="col" class="">
            <label class="control control--checkbox mx-3">
              <input type="checkbox"  class="js-check-all"/>
              <div class="control__indicator"></div>
            </label>
          </th>

          <th scope="col">Id</th>
          <th scope="col">Date</th>
          <th scope="col">Date planification</th>
          <th scope="col">id Doctor</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody class="" *ngFor="let r of result.data">
        <tr class="spacer"><td colspan="100"></td></tr>
        <tr class="spacer"><td colspan="100"></td></tr>
        <tr scope="row">
          <th scope="col" class="">
            <label class="control control--checkbox mx-3">
              <input type="checkbox"  class="js-check-all"/>
              <div class="control__indicator"></div>
            </label>
          </th>
          <td class="fw-bold">
            {{r.id}}
          </td>
          <td><div class="">{{r.date}}</div></td>
          <td class="text-black">{{r.datePlanification}}</td>
          <td class="text-black">{{r.doctorId}}</td>
          <td>
            <a class="mx-2" href="javascript:onDelete(r)" (click)="onDelete(r)">
              <img src="./../../../../assets/images/trash.png" width="40" alt="trash">
            </a>
            <a href="javascript:onEdit(r)" (click)="onEdit(r)">
              <img src="./../../../../assets/images/refresh.png" width="30" alt="refresh">
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    </ng-container>
    </ng-container>
</div>
