

<div class="container" *ngIf='consultationFormGroup'>
  <form [formGroup]='consultationFormGroup' method="post" class="w-75 m-auto mt-4 ">
    <h3 class="text-center mb-3">New Consultation</h3>
    <div class="form-group">
      <label hidden>Id</label>
      <input hidden type="text" class="form-control" formControlName="rendezVousId">
    </div>
    <div class="form-group">
      <label>Date Consultation</label>
      <input type="date" class="form-control" formControlName="dateConsultation">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea rows = "5" cols = "10" class="form-control" formControlName="description"></textarea>
    </div><br>
    <button class="btn btn-success" (click)="onSaveConsultation()">Save</button>
  </form>
</div>
