

<div class="container  navbar bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <a routerLink="/newDoctor" routerLinkActive="active" class="btn btn-info">Add Doctor</a>
    </li>
  </ul>
  <ul class="navbar navbar-nav">
    <li *ngIf='searchForm'>
      <form class="form-inline" [formGroup]='searchForm'>
        <div class="input-group">
          <input type="search" formControlName="keyword" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" (click)="onSearch()" class="btn btn-outline-primary">search</button>
        </div>
      </form>
    </li>
  </ul>
</div>

<div class="container">
<ng-container *ngIf="doctors$ | async as result" [ngSwitch]="result.dataState" >
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Loading .....
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert-danger">
      {{ result.errorMessage }}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" hidden>id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Date Naissance</th>
          <th scope="col">Num Tel</th>
          <th scope="col">Type Sexe</th>
          <th scope="col">Email</th>
          <th scope="col">Specialite</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let d of result.data">
            <td hidden>{{d.id}}</td>
            <td>{{d.nom}}</td>
            <td>{{d.preNom}}</td>
            <td>{{d.dateNaissance}}</td>
            <td>{{d.numTel}}</td>
            <td>{{d.typeSexe}}</td>
            <td>{{d.email}}</td>
            <td>{{d.specialite}}</td>
            <td>
              <a href="javascript:onDelete(d)" class="btn btn-danger" (click)="onDelete(d)">Delete</a>
            </td>
            <td>
              <a href="javascript:onEdit(d)" class="btn btn-warning" (click)="onEdit(d)">Update</a>
            </td>
          </tr>
      </tbody>
    </table>
    </div>
  </ng-container>
</ng-container>
</div>
